<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: contents;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    /* min-width: 120px; */
  }

  .example-button-row {
    display: table-cell;
    /* max-width: 600px; */
  }

  .example-button-row .mat-mdc-button-base {
    margin: 0px 8px;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 140px; */
  }

  .example-button-container ng-icon {
    margin-top: -1.5px;
  }

  [ngpSearchField] {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    /* gap: 6px; */
    /* width: 90%; */
  }

  [ngpInput] {
    /* height: 2rem; */
    /* width: 100%; */
    border-radius: 8px;
    /* padding: -10px 0 0 40px; */
    padding-left: 2rem;
    padding-top: -1rem;
    border: none;
    box-shadow: 0 1px 2px
        light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05)),
      0 0 0 1px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    outline: none;
    font-size: 15px;
  }

  /* clears the 'X' from Chrome */
  [ngpInput]::-webkit-search-decoration,
  [ngpInput]::-webkit-search-cancel-button,
  [ngpInput]::-webkit-search-results-button,
  [ngpInput]::-webkit-search-results-decoration {
    display: none;
  }

  [ngpInput][data-focus] {
    box-shadow: 0 0 0 2px rgb(59, 130, 246);
  }

  [ngpInput]::placeholder {
    color: rgb(161 161 170);
    /* padding-left: 2.5rem;
    padding-top: -1rem; */
    font-size: 15px;
  }

  .search-container {
    position: relative;
    width: 10%;
  }

  [ngpButton] {
    position: absolute;
    top: 4px;
    right: -185px;
    height: 2rem;
    padding: 0 16px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: white;
    color: rgb(59, 130, 246);
    font-size: 0.875rem;
    line-height: 1.25rem;
    cursor: pointer;
    outline: none;
    display: none;
  }

  [ngpButton]:not([data-empty]) {
    display: block;
  }

  .search-container ng-icon {
    position: absolute;
    font-size: 1rem;
    top: 20px;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(161 161 170);
  }

  .iconButtons {
    height: 2rem;
    width: 2rem;
    padding: 2.5px 0;
  }

  .view-dropdown {
    width: 120px;
  }
</style>

<main class="main">
  <div class="py-3 px-6">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Calendar">
        <div class="h-[90vh]">
          <div
            class="flex justify-start items-start text-2xl py-3 h-15 gap-1 sticky top-0 bg-white z-10 shadow-md"
          >
            <div class="example-button-row border-r-2 border-gray-300">
              <div class="example-flex-container">
                <div class="example-button-container">
                  <!-- New Job Button -->
                  <button
                    mat-flat-button
                    class="primary-custom-button"
                    style="
                      background-color: rgb(0, 68, 255);
                      border-radius: 5px;
                      height: 2rem;
                    "
                  >
                    <div class="flex items-center justify-center gap-1">
                      New Job
                      <ng-icon
                        name="heroPlusCircleSolid"
                        color="white"
                        size="20"
                      ></ng-icon>
                    </div>
                  </button>

                  <!-- Search Input Field -->
                  <div ngpSearchField>
                    <div class="search-container">
                      <ng-icon name="heroMagnifyingGlass" />
                      <input
                        [(ngModel)]="query"
                        ngpInput
                        type="search"
                        placeholder="Search"
                      />
                      <button
                        ngpSearchFieldClear
                        ngpButton
                        aria-label="Clear search"
                      >
                        Clear
                      </button>
                    </div>
                  </div>

                  <!-- Person Button -->
                  <button
                    mat-button
                    class="primary-custom-button"
                    style="border-radius: 5px; height: 2rem"
                  >
                    <div
                      class="flex items-center justify-center gap-1 text-gray-800"
                    >
                      <ng-icon
                        name="heroUserCircle"
                        color="text-gray-800"
                        size="20"
                      ></ng-icon>
                      Person
                    </div>
                  </button>

                  <!-- Filter Dropdown -->
                  <button
                    style="border-radius: 5px; height: 2rem"
                    mat-button
                    [matMenuTriggerFor]="menu"
                  >
                    <div
                      class="flex items-center justify-center gap-2 text-gray-800"
                    >
                      <ng-icon
                        name="heroFunnel"
                        color="text-gray-800"
                        size="18"
                      ></ng-icon>
                      Filter
                      <ng-icon
                        name="heroChevronDownMini"
                        color="text-gray-800"
                        size="20"
                      ></ng-icon>
                    </div>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>Assigned</button>
                    <button mat-menu-item>Scheduled Meeting</button>
                  </mat-menu>
                </div>
              </div>
            </div>

            <div class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container">
                  <!-- Today Button -->
                  <button
                    mat-stroked-button
                    class="primary-custom-button"
                    style="border-radius: 5px; height: 2rem"
                    (click)="goToToday()"
                  >
                    <p class="text-gray-800">Today</p>
                  </button>
                  <button
                    mat-icon-button
                    aria-label="Previous Button"
                    class="iconButtons"
                    (click)="goToPrev()"
                  >
                    <ng-icon
                      name="heroChevronLeft"
                      color="text-gray-800"
                    ></ng-icon>
                  </button>
                  <button
                    mat-icon-button
                    aria-label="Next Button"
                    class="iconButtons"
                    (click)="goToNext()"
                  >
                    <ng-icon
                      name="heroChevronRight"
                      color="text-gray-800"
                    ></ng-icon>
                  </button>

                  <div class="px-2">
                    <h5 class="text-[1rem]">{{ calendarTitle }}</h5>
                  </div>

                  <button
                    style="border-radius: 5px; height: 2rem; padding: 0 10px"
                    mat-stroked-button
                    [matMenuTriggerFor]="viewMenu"
                  >
                    <div
                      class="flex items-center justify-center gap-2 text-gray-800"
                    >
                      {{ getViewLabel(selectedView) }}
                      <ng-icon
                        name="heroChevronDownMini"
                        color="text-gray-800"
                        size="20"
                      ></ng-icon>
                    </div>
                  </button>

                  <mat-menu #viewMenu="matMenu">
                    <button mat-menu-item (click)="changeView('dayGridMonth')">
                      Month
                    </button>
                    <button mat-menu-item (click)="changeView('timeGridWeek')">
                      Week
                    </button>
                    <button mat-menu-item (click)="changeView('timeGridDay')">
                      Day
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-3 h-[90vh]">
            <full-calendar
              #calendar
              [options]="calendarOptions"
            ></full-calendar>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>

<router-outlet />
